asgiref==3.8.1
channels==4.1.0
channels-redis==4.2.0
dataclasses==0.6
Django==5.1
daphne>=3.0,<4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djongo==1.2.31
dnspython==2.6.1
msgpack==1.0.8
PyJWT==2.9.0
pymongo==4.8.0
redis==5.0.8
sqlparse==0.5.1
